.form {
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-signup {
    width: 100%;
    max-width: 630px;
    padding: 15px;
    margin: auto;
}

.maxw {
    width: 100%;
}