<div *ngIf="post" class="bg-white border mt-2">
    <div (click)="irPerfil(post.user.ID)">
        <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
            <div class="d-flex flex-row align-items-center feed-text px-2"><img class="rounded-circle" [src]="post.user.avatar" width="45">
                <div class="d-flex flex-column flex-wrap ml-2"><span class="font-weight-bold">{{post.user.name}}</span><span class="text-black-50 time">{{post.CreatedAt | date:'medium'}}</span></div>
            </div>
        </div>
    </div>
    <div routerLink="/board/post/{{post.ID}}">
        <div class="p-2 px-3 "><span>{{post.posted_text}}</span></div>
        <div *ngIf="post.image_url" class="feed-image p-2 px-3"><img class="img-fluid img-responsive " [src]="post.image_url"></div>
    </div>
    <div class="d-flex justify-content-end socials p-2 py-3 ">
        <span class="text" *ngIf="post.reactions">{{post.reactions.length}}</span>
        <i *ngIf="!miReaccion" (click)="reaccionar(post.ID)" class="fa fa-thumbs-up"></i>
        <i *ngIf="miReaccion" (click)="reaccionar(post.ID)" class="fa fa-thumbs-down"></i>
        <i class="fa fa-comments" type="button" data-toggle="collapse" [attr.data-target]="'#post'+post.ID" aria-expanded="false" aria-controls="collapseExample"></i>
        <i class="fa fa-share "></i>
    </div>
    <div class="p-3 ">
        <div class="collapse show" [attr.id]=" 'post'+post.ID">
            <div class="card card-body">
                <div class="comments">
                    <ng-container *ngFor="let comment of post.comments">
                        <app-comments [postID]="post.ID" [comment]="comment"></app-comments>
                    </ng-container>
                    <app-comment-bar [idPost]="post.ID"></app-comment-bar>
                </div>
            </div>
        </div>

    </div>

</div>