.time {
    font-size: 9px !important
}

.socials i:hover {
    color: #2b5b99;
}

.socials i {
    margin-right: 14px;
    font-size: 17px;
    color: #d2c8c8;
    cursor: pointer;
    transition: color .5s;
}

.socials .text {
    margin-right: 10px;
    font-size: 12px;
    color: #d2c8c8;
}

.feed-image img {
    width: 100%;
    height: auto
}
